body {
    margin: 0px;
    background: var(--gray);
    color: black;
    font-family: Roboto;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: Roboto;
    src: url('/assets/Roboto-Regular.ttf');
}

:root {
    --navy: #161A30;
    --light-navy: #31304D;
    --gray: #B6BBC4;
    --cream: #F0ECE5;
}

header {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-about {
    box-shadow: rgba(0, 0, 0, 1) 0px 3px 8px;
    height: 30vh;
}

.about-title {
    font-size: 2.5em;
    font-weight: 700;
}

.about-container {
    height: 25vh;
    width: 30vw;
    padding: 1em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-container ul {
    align-self: end;
    list-style-type: none;
    display: flex;
    gap: 2em;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.text-image {
    position: absolute;
    font-size: 2em;
    color: var(--cream);
}

ul img {
    height: 2em;
    transition: all 300ms;
}

ul img:hover {
    transform: scale(1.5);
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    gap: 3em;
}

main {
    width: 80vw;
    background: red;
}

.preview {
    height: 150px;
}

.card {
    width: 15vw;
    border: 1px solid blue;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr, 0.5fr;
}

.bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h4 {
    font-size: 1.5em;
}

.top {
    display: flex;
}

li {
    list-style-type: none;
}